<div class="container-fluid">

	<div class="well w3-sand">
		<h2>Student Details</h2>
	</div>

	<form class="form-control" ng-submit="doUpdate(student)">
		<div class="row">
			<div class="col-md-12">

				<label class="">Name :</label>
				<input ng-model="student.name" type="text" class="form-control" id="nm">

				<label class="">Gender :</label>
				<select ng-model="student.gender" class="form-control">
					<option value='male'> Male </option>
					<option value='female'> Female </option>
				</select>
					
				<label class=" ">University :</label>
				<input ng-model="student.university" type="text" class="form-control" id="uni">

				<label class="">College :</label>
				<input ng-model="student.college" type="text" class="form-control" id="clg">

				<label class="">Course :</label>
				<select ng-model="student.course" class="form-control">
					<option value='bba'>B.B.A.</option>
					<option value='bsc'>B.SC.</option>
					<option value='bcom'>B.Com.</option>
					<option value='msc'>M.SC.</option>
					<option value='bed'>B.ED.</option>
					<option value='bca'>B.C.A.</option>
				</select>

				<label class="">Semester :</label>
				<select ng-model="student.semester" class="form-control">
					<option value="1"> 1 </option>
					<option value="2"> 2 </option>
					<option value="3"> 3 </option>
					<option value="4"> 4 </option>
					<option value="5"> 5 </option>
					<option value="6"> 6 </option>
				</select>

				<label class="">City :</label>
				<input ng-model="student.city" type="text" class="form-control" id="city">

				<label class="">District :</label>
				<input ng-model="student.district" type="text" class="form-control" id="dist">

				<label class="">E-mail :</label>
				<input ng-model="student.email" type="email" class="form-control" id="email">

				<label class="">Phone no :</label>
				<input ng-model="student.phone" type="number" class="form-control" id="phone">

				<button type="submit" class="btn btn-success">Update</button>

			</div>
		</div>
	</form>
</div>