<div class="myFormElement container-fluid">

	<div class="myFormElement well w3-sand">
		<h2>Update Details</h2>
	</div>


	<form  ng-submit="doUpdate(student)">
		<div class="myFormElement row">
			<div class="col-md-12">

				<label class="myFormElement ">Name :</label>
				<input ng-model="student.name" type="text" class="myFormElement form-control" id="nm">

				<label class="myFormElement ">Gender :</label>
				<select ng-model="student.gender" class="myFormElement form-control">

					<option value='male'> Male </option>
					<option value='female'> Female </option>
				</select>
					

				<label class="myFormElement  ">University :</label>
				<input ng-model="student.university" type="text" class="myFormElement form-control" id="uni">

				<label class="myFormElement ">College :</label>
				<input ng-model="student.college" type="text" class="myFormElement form-control" id="clg">

				<label class="myFormElement ">Course :</label>
				<select ng-model="student.course" class="myFormElement form-control">

					<option value='bba'>B.B.A.</option>
					<option value='bsc'>B.SC.</option>
					<option value='bcom'>B.Com.</option>
					<option value='msc'>M.SC.</option>
					<option value='bed'>B.ED.</option>
					<option value='bca'>B.C.A.</option>
				</select>

				<label class="myFormElement ">Semester :</label>
				<select ng-model="student.semester" class="myFormElement form-control">
					<option value="1"> 1 </option>
					<option value="2"> 2 </option>
					<option value="3"> 3 </option>
					<option value="4"> 4 </option>
					<option value="5"> 5 </option>
					<option value="6"> 6 </option>
				</select>

				<label class="myFormElement ">City :</label>
				<input ng-model="student.city" type="text" class="myFormElement form-control" id="city">

				<label class="myFormElement ">District :</label>
				<input ng-model="student.district" type="text" class="myFormElement form-control" id="dist">

				<label class="myFormElement ">E-mail :</label>
				<input ng-model="student.email" type="email" class="myFormElement form-control" id="email">

				<label class="myFormElement ">Phone no :</label>
				<input ng-model="student.phone" type="number" class="myFormElement form-control" id="phone">
				<div class="col-md-12 text-center">
				<button type="submit" class="myFormElement btn btn-success">Update</button>
				</div>
	</form>
</div>