<div class="container-fluid">

	<div class="well w3-sand">
		<h2>Update Details</h2>
	</div>

	<form role="form">
		<div class="col-md-12">
							
			
				<label class="myFormElement">Name :</label>
				<input type="text" class="form-control" id="nm">
			

				<label class="myFormElement">Gender :</label>
				<select class="form-control">
					<option value='male'> Male </option>
					<option value='female'> Female </option>
				</select>
					
				<label class="myFormElement ">University :</label>
				<input type="text" class="form-control" id="uni">

				<label class="myFormElement">College :</label>
				<input type="text" class="form-control" id="clg">

				<label class="myFormElement">Course :</label>
				<select class="form-control">
					<option value='bba'>B.B.A.</option>
					<option value='bsc'>B.SC.</option>
					<option value='bcom'>B.Com.</option>
					<option value='msc'>M.SC.</option>
					<option value='bed'>B.ED.</option>
					<option value='bca'>B.C.A.</option>
				</select>

				<label class="myFormElement">Semester :</label>
				<select class="form-control">
					<option> 1 </option>
					<option> 2 </option>
					<option> 3 </option>
					<option> 4 </option>
					<option> 5 </option>
					<option> 6 </option>
				</select>

				<label class="myFormElement">City :</label>
				<input type="text" class="form-control" id="city">

				<label class="myFormElement">District :</label>
				<input type="text" class="form-control" id="dist">

				<label class="myFormElement">E-mail :</label>
				<input type="email" class="form-control" id="email">

				<label class="myFormElement">Phone no :</label>
				<input type="number" class="form-control" id="phone">

				</div>

				<div class="col-md-12 text-center myFormElement">
				<button type="button" class="btn btn-success">Update</button>
				</div>
			

	</form>
</div>