<div class="container-fluid">
	<div class="row">

		<div class="well w3-white">
			<h2>Student Details</h2>
		</div>

		<div class="col-md-12">
			<table class="table table-striped table-border">
				<thead>
					<tr>
						<th> Name </th>
						<th> Course </th>
						<th> Gender </th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat='x in students'>
						<td>{{x.name}}</td>
						<td>{{x.course}}</td>
						<td>{{x.gender}}</td>
					</tr>
				</tbody>
			</table>

		</div>	


						

	
	</div>
</div>