<div class="container-fluid">
	<div class="row">

		<div class="well w3-sand">
			<h2>Student Details</h2>
		</div>

		<div class="col-md-12 table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr  class="w3-light-grey">
						<th class="text-center"> Name </th>
						<th class="text-center"> Course </th>
						<th class="text-center"> Gender </th>
						<th class="text-center"> Edit/Delete</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat='x in students' ng-click="stateChange(x)" >
						<td>{{x.name}} </td>
						<td>{{x.course}} </td>
						<td>{{x.gender}} </td>
						<!-- <td class="noborder colspan="2" "> <button type="button" class="btn btn-success" ng-click="editStudent(x.id)">Edit</button>
						<button type="button" class="btn btn-danger" ng-click="deleteStudent(x.id)">delete</button>
 -->
						</td>
					</tr>


					
				</tbody>
			</table>

		</div>	


						

	
	</div>
</div>