<div class="container-fluid">
	<div class="row">

		<div class="well w3-sand">
			<h2>Student Details</h2>
		</div>

		<div class="col-md-12 table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr class="w3-light-grey">
						<th> Name </th>
						<th> Course </th>
						<th> Gender </th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td> </td>
						<td> </td>
						<td> </td>
					</tr>

					
				</tbody>
			</table>

		</div>	


						

	
	</div>
</div>