<div class="container-fluid">
	<div class="row">

		<div class="well w3-sand">
			<h2></h2>
		</div>

		<div class="col-md-2 col-md-offset-2 ">
			<table class="table table-responsive table-bordered w3-khaki w3-card-4" >
		
				<tr>
					<td class="left_column"> Gender </td>
					<td></td>
				</tr>

				<tr>
					<td class="left_column"> University </td>
					<td></td>
				</tr>

				<tr>
					<td class="left_column"> College </td>
					<td></td>
				</tr>

				<tr>
					<td class="left_column"> Course </td>
					<td></td>
				</tr>

				<tr>
					<td class="left_column"> Semester </td>
					<td></td>
				</tr>

				<tr>
					<td class="left_column"> City </td>
					<td></td>	
				</tr>

				<tr>
					<td class="left_column"> District </td>
					<td></td>
				</tr>

				<tr>
					<td class="left_column"> E-mail</td>
					<td></td>
				</tr>

				<tr>
					<td class="left_column"> Phone no. </td>
					<td></td>
				</tr>

			</table>
		</div>
	</div>
</div>