<div class="container-fluid">
	<div class="row">

		<div class="col-md-12">
			<h2 class="text-primary well addShadow page-header">{{student.name}}</h2>
		</div>

		<div class="col-md-8 col-md-offset-2	">
			<table class="table table-bordered table-responsive w3-xlarge w3-khakhi w3-card-4" >
				
			
				<tr>
					<td class="tbItem "> Gender </td>
					<td>{{student.gender}}</td>
				</tr>

				<tr>
					<td class="tbItem "> University </td>
					<td>{{student.university}}</td>
				</tr>

				<tr>
					<td class="tbItem "> College </td>
					<td>{{student.college}}</td>
				</tr>

				<tr>
					<td class="tbItem "> Course </td>
					<td>{{student.course}}</td>
				</tr>

				<tr>
					<td class="tbItem "> Semester </td>
					<td>{{student.semester}}</td>
				</tr>

				<tr>
					<td class="tbItem "> City </td>
					<td>{{student.city}}</td>	
				</tr>

				<tr>
					<td class="tbItem "> District </td>
					<td>{{student.district}}</td>
				</tr>

				<tr>
					<td class="tbItem "> E-mail</td>
					<td>{{student.email}}</td>
				</tr>

				<tr>
					<td class="tbItem "> Phone no. </td>
					<td>{{student.phone}}</td>
				</tr>

			</table>
		</div>
	</div>
</div>