<div class="container-fluid">
	<h2> Registration Form</h2>

	<form  role="form" class="w3-blue" ng-init="x={}" ng-submit="doAddStudent(x)">
		<div class="form-inline well" >
			<input class="form-control" type="text"  id="frst" ng-model="x['fname']" placeholder="Enter first name">

			<input class="form-control" type="text"  id="mid" ng-model="x['mname']" placeholder="Enter Middle name">

			<input class="form-control" type="text"  id="lst" ng-model="x['lname']" placeholder="Enter last name">
		</div>
			<select class="form-control"  ng-model="x['gender']">
				<option value='male'> Male </option>
				<option value='female'> Female </option>
			</select>
	
			<input class="form-control" type="text"  id="uni" ng-model="x['university']" placeholder="Enter your university">
	
			<input class="form-control" type="text"  id="clg" ng-model="x['college']" placeholder="Enter your college">
	
			<select class="form-control" ng-model="x['course']">
				<option value='bba'> B.B.A. </option>
				<option value='bsc'> B.SC </option>
				<option value='bcom'> B.Com. </option>
				<option value='msc'> M.SC. </option>
				<option value='bed'> B.ED. </option>
				<option value='bca'> B.C.A. </option>
			</select>

			<select class="form-control" ng-model="x['semester']">
				<option> 1 </option>
				<option> 2 </option>
				<option> 3 </option>
				<option> 4 </option>
				<option> 5 </option>
				<option> 6 </option>
			</select>

			<input class="form-control" type="text"  id="city" ng-model="x['city']" placeholder="Enter your city">
	
			<input class="form-control" type="text"  id="dist" ng-model="x['district']" placeholder="Enter your district">

			<input class="form-control" type="email"  id="email" ng-model="x['email']" placeholder="Enter your E-mail id">

			<input class="form-control" type="number"  id="phone" ng-model="x['phone']" placeholder="Enter your phone no.">

		<button class="btn btn-success" type="submit">Add Student</button>
	</form>
</div>