<div class="container-fluid">
	<h2> Registration Form</h2>

	<form class="form-horizontal" role="form" class="w3-blue">
		<div class="col-sm-4">
			<input type="text" id="frst" placeholder="Enter first name">
		</div>

		<div class="col-sm-4">
			<input type="text"  id="mid" placeholder="Enter Middle name">
		</div>

		<div class="col-sm-4">
			<input type="text"  id="lst" placeholder="Enter last name">
		</div>

		<div class="col-sm-12">
			<select class="">
				<option value='male'> Male </option>
				<option value='female'> Female </option>
			</select>
		</div>

		<div class="col-sm-12">
			<input type="text"  id="uni" placeholder="Enter your university">
		</div>

		<div class="col-sm-12">
			<input type="text"  id="clg" placeholder="Enter your college">
		</div>

		<div class="col-sm-12">
			<select >
				<option value='bba'> B.B.A. </option>
				<option value='bsc'> B.SC </option>
				<option value='bcom'> B.Com. </option>
				<option value='msc'> M.SC. </option>
				<option value='bed'> B.ED. </option>
				<option value='bca'> B.C.A. </option>
			</select>

		</div>

		<div class="col-sm-12">
			<select >
				<option> 1 </option>
				<option> 2 </option>
				<option> 3 </option>
				<option> 4 </option>
				<option> 5 </option>
				<option> 6 </option>
			</select>

		</div>

		<div class="col-sm-12">
			<input type="text"  id="city" placeholder="Enter your city">
		</div>

		<div class="col-sm-12">
			<input type="text"  id="dist" placeholder="Enter your district">
		</div>

		<div class="col-sm-12">
			<input type="email"  id="email" placeholder="Enter your E-mail id">
		</div>

		<div class="col-sm-12">
			<input type="number"  id="phone" placeholder="Enter your phone no.">
		</div>

		
	</form>
</div>